version: '3.8'

services:
  fe:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: kantisoft-fe-dev

    volumes:
      - .:/app
      - /app/node_modules

    ports:
      - "3000:3000"

    command: [ "pnpm", "dev", "--host" ]